

{% do view.registerAssetBundle("stefanladner\\craftwatermark\\assetbundles\\WatermarkAsset") %}

{% import '_includes/forms.twig' as forms %}

<p>dsa</p>
{{ forms.textField({
    first: true,
    label: 'Watermarked image directory',
    name: 'directory',
    value: settings.directory,
    placeholder: 'Images will be placed in the web root directory',
}) }}

{{ forms.elementSelectField({
    label: "watermark"|t,
    id: "imageId",
    name: "imageId",
    viewMode: "list",
    elementType: 'craft\\elements\\Asset',
    selectionLabel: "Watermark",
    required: false,
    errors: settings.getErrors('imageId'),
    limit: 1,
    elements: images,
    criteria: { kind: 'image'}
}) }}